<html>
    <h1>SIMPLE CALCULATER</h1>
    <body>
        <form action="/akshay" method="POST">
        <label>SELECT OPERATION</label><br>
        <select id="operation" name="operation">
            <option value="select" > select any one </option>
            <option value="add" name="add">add</option>
            <option value="multifly" name="multifly">multiply</option>
            <option value="division" name="division">division</option>
            <option value="substract" name="substract">substract</option>
        </select></br>
        <label>NUMBER 1</label><br>
        <input type="text" name="num1" id="num1" ><br>
        <label>NUMBER 2</label><br>
        <input type="text" name="num2" id="num2" ><br>
        <input type="submit" value="calculate" >
        </form>
    </body>
</html>